/*
1- Style Chart Page .
2- Style Chart Row .
3- Style Chart Headr .
4- Style Chart Item .
5- Style Chart Bottom .
6- Style Charts Style .

// ========== Media Queris ============= //

7- Style CreateReview Page To Media Queris 992px.
8- Style CreateReview Page To Media Queris 576px.
9- Style CreateReview Page To Media Queris 300px.

*/

// 1- Style chart Page .
.chart {
    margin: 40px 0px;
    font-family: var(--font-cairo);
    // 2- Style chart row.
    .row{
        .col-xl-4{
            padding: 0px 5px;
        }
        .col-lg-12{
            margin: 10px 0px;
            
        .spends,
        .requests,
        .category {
            width: 75%;
            margin: 0px auto;
        }
        }
        .col-sm-12{   
            margin: 10px 0px;
            .spends,
            .requests,
            .category {
                width: 100%;
                margin: 0px auto;
            }

        }
    }
    // 3- Style Chart Headr .
    &__headr {
        margin-top: 40px;
        margin-bottom: 40px;

        h5 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        span {
            font-size: 16px;
            font-weight: normal;
            color: #a5a5ac;
        }
    }
    // 4- Style Chart Item .
    &__item {
        min-height: 400px;
        max-height: auto;
    }
    // 5- Style Chart Bottom .
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;

        h6 {
            font-size: 18px;
            font-weight: bold;
            color: #231f20;
        }

        span {
            font-size: 16px;
            font-weight: normal;
            color: #a5a5ac;
            margin: 15px 0px;
        }

        .addrequests {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 186px;
            height: 56px;
            border-radius: 5px;
            background-color: #e8d173;
            font-size: 14px;
            font-weight: bold;
            color: #231f20;
            border-color: #e8d173;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            img {
                width: 24px;
                height: 24px;
                object-fit: contain;

            }

            &:hover {
                background-color: #e8d173;
                color: #231f20;
            }
        }
    }
    // 6- Style Charts Style .
    .spends,
    .requests,
    .category {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        .cartitem {
            margin: 0px auto;
            height: 280px;
            padding: 5px 5px 0px 5px;
        }
    }

    .topchart {
        padding: 10px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 16px;
            font-weight: bold;
            color: #343433;
        }

        ul {
            display: flex;
            flex-direction: row;

            li {
                font-size: 12px;
                font-weight: normal;
                color: #a5a5ac;
                margin: 0px 5px;
                cursor: pointer;
            }

            li.active {
                font-weight: bold;
                color: #363636;
            }
        }
    }

    .spends {
        .cartitem {
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    .requests {
        .cartitem {
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    .category {
        .cartitem {
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }

    }
}
.En{
    .chart {
        &__bottom {
            .addrequests {img {margin: 0 15px 0 0;}}
        }
    }
}
.Ar{
    .chart {
        &__headr {direction: rtl;}
        &__bottom {
            .addrequests {img {margin: 0 0 0 15px;}}
        }
    }
}
// 7- Style CreateReview Page To Media Queris 992px.
@media screen and (max-width: 992px) {
    .chart {
        &__item {
            flex-direction: column;
        }

        .spends,
        .requests,
        .category {
            height: 100%;
            margin-bottom: 40px;
        }

        &__headr {
            margin-bottom: 40px;
        }
    }
}
// 8- Style CreateReview Page To Media Queris 576px.
@media screen and (max-width: 576px) {
    .chart {

        .spends,
        .requests,
        .category {
            width: 100%;

            .cartitem {
                width: 100%;
                height: 350px;
            }
        }
    }
}
// 9- Style CreateReview Page To Media Queris 300px.
@media screen and (max-width: 300px) {
    .chart {

        .spends,
        .requests,
        .category {
            width: 100%;

            .cartitem {
                width: 100%;
                height: 350px;
            }
        }
    }
}