/*
1- Style MyRequest Page 
2- Style MyRequest Page Header
3- Style MyRequest Page Row
4- Style MyRequest Page Card
5- Style MyRequest Page Filter
6- Style MyRequest Page Hide
// ========== Media Queris ============= //
7- Style MyRequest Page To Media Queris 992px.
8- Style MyRequest Page To Media Queris 576px.
*/

// 1- Style MyRequest Page 
.myrequest {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-color: #f6f6f6;
// 2- Style MyRequest Page Header
    &__headr {
        margin: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 65px;
        max-height: auto;
        .left{
            height: 65px;
            h5 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            span {
                font-size: 16px;
                font-weight: normal;
                color: #a5a5ac;
            }
        }
        .right{
            height: 65px;
            display: flex;
            align-items: center;
            .btn{
                height: 56px;
                background-color: #e8d173;
                color: #231f20;
                font-size: 14px;
                font-weight: bold;
                color: #231f20;
                &:active{
                    border-color: #e8d173;
                }
                img{
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }
            }
            .btn-filter{
                width: 112px;
            }
            .btn-request{
                width: 186px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
// 3- Style MyRequest Page Row
    &__row{
        margin: 50px 0px;
        .row{
            > div{
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
// 4- Style MyRequest Page Card
    &__card{
        margin: 25px 10px;
        height: 140px;
        padding: 16px;
        border-radius: 13px;
        box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text{
                font-size: 16px;
                font-weight: bold;
                color: #343433;
            }
            .btn-edit{
                padding: 0px !important;
                width: 24px;
                height: 24px;
                &:active{
                    border-color: white;
                }
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .bottom{
            img{
                width: 16px;
                height: 16px;
            }
            .text{
                font-size: 14px;
                font-weight: normal;
                color: #a5a5ac;
            }
        }
    }
// 5- Style MyRequest Page Filter
    &__filter{
        opacity: 1;
        visibility: visible;
        height: 186px;
        margin: 20px 0px 20px 0px;
        background-color: #f8f4e8;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        .top{
            h6{
                font-size: 24px;
                font-weight: bold;
                color: #252428;
            }
            span{
                display: inline-block;
                font-size: 16px;
                color: #343433;
                margin: 15px 0px;
            }
        }
        .bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            select{width: 190px;
                height: 32px;
                font-size: 14px;
                color: #a5a5ac;
                border-radius: 4px;
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }
            .showresults{
                width: 146px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #e8d173;
                font-size: 14px;
                font-weight: bold;
                color: #231f20;
            }
        }
    }
// 6- Style MyRequest Page Hide
    &__hide{
        height: 0px;
        opacity: 0;
        padding: 0px !important;
        visibility: hidden;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        margin: 0px !important;
    }
}

.En{
    .myrequest {
        &__headr {
            flex-direction: row;
            text-align: left;
            .right{
                flex-direction: row;
                .btn{
                    img{
                        margin: 0 8px 0 0;
                    }
                }
                .btn-filter{
                    margin-right: 20px;
                }
            }
        }
        &__card{
            .top{flex-direction: row;}
            .bottom{
                direction: ltr;
                img{margin-right: 10px;}
            }
        }
        &__filter{
            .top{text-align: left;}
            .bottom{
                flex-direction: row;
                select{direction: ltr;}
            }
        }
        &__row{
            margin: 50px 0px;
            .row{
                flex-direction: row-reverse;
            }
        }
    }

}
.Ar{
    .myrequest {
        &__headr {
            text-align: right;
            flex-direction: row-reverse;
            .right{
                flex-direction: row-reverse;
                .btn{
                    img{
                        margin: 0 0 0 8px;
                    }
                }
                .btn-request{
                    margin-right: 20px;
                }
            }
        }
        &__card{
            .top{
                flex-direction: row-reverse;
            }
            .bottom{
                direction: rtl;
                img{margin-left: 10px;}
            }
        }
        &__filter{
            .top{text-align: right;}
            .bottom{
                flex-direction: row-reverse;
                select{direction: rtl;}
            }
        }
        &__row{
            margin: 50px 0px;
            .row{
                flex-direction: row-reverse;
            }
        }
    }
}
// 7- Style MyRequest Page To Media Queris 992px.
@media screen and (max-width: 992px) {
    .myrequest {
        height: auto;
        padding-bottom: 1px;
    }

}
// 8- Style MyRequest Page To Media Queris 576px.
@media screen and (max-width: 576px) {
    .myrequest {
        &__headr {
            margin: 20px 0px;
            flex-direction: column;
            .left{
                width: 100%;
                h5 {font-size: 18px;}
                span {font-size: 14px;
}
            }
            .right{
                height: auto;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
                .btn{
                    height: 50px;
                    font-size: 12px;
                    img{
                        width: 20px;
                        height: 20px;
                        margin: 0 5px 0 0;
                    }
                }
                .btn-filter{
                    width: 100%;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
                .btn-request{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        &__row{margin: 20px 0px;}
        &__card{
            margin: 10px 0px;
            height: 140px;
            padding: 5px 10px;
            .top{.text{font-size: 14px;}}
            .bottom{.text{font-size: 12px;}}
        }
        &__filter{
            height: auto;
            margin: 20px 0px;
            .top{
                h6{font-size: 18px;}
                span{font-size: 14px;}
            }
            .bottom{
                flex-direction: column;
                height: auto;
                align-items: flex-start;
                select{margin-bottom: 10px;}
                .showresults{height: 45px;}
            }
        }

        &__hide{height: 0px;}
    }
}