/*
1- Style CreateRequest Page 
2- Style CreateRequest Page Top
3- Style CreateRequest Page Bottom
4- Style CreateRequest Page Bottom Screen One
5- Style CreateRequest Page Bottom Screen One Form
6- Style CreateRequest Page Hide Model
// ========== Media Queris ============= //
7- Style CreateRequest Page To Media Queris 992px.
8- Style CreateRequest Page To Media Queris 576px.
9- Style CreateRequest Page To Media Queris 300px.
*/

// 1- Style CreateRequest Page 
.createrequest {
  font-family: var(--font-cairo);
  background-color: #f6f6f6;
  padding-bottom: 1px;
  min-height: 100vh;
  max-height: auto;
// 2- Style CreateRequest Page Top
  .create {
    .top {
      margin: 50px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;

      // - Style Head
      .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        .iconleft{
          width: 33px;
          height: 25px;
          margin-right: 11px;
        }
        h4 {
          font-size: 22px;
          font-weight: bold;
          color: #252428;
        }
      }

      // - Style List
      .list {
        margin-bottom: 25px;
        height: 98px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        li {
          display: flex;
          align-items: center;
          font-family: var(--font-cairo);
          font-size: 20px;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            font-weight: bold;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-right: 10px;
            background-color: #e4e4e4;
            color: #bcbcbc;
          }

          .icon.editedata {
            background-color: #e8d173;
            color: #231f20;
          }

          .icon.active {
            background-color: #231f20;
            color: #e8d173;
          }

          .text {
            font-weight: bold;
            color: #a5a5ac;
          }

          .text.editedata {
            color: #e8d173;
          }

          .text.active {
            color: #231f20;
          }
        }

        .line {
          width: 100px;
          height: 1px;
          border-width: 2px;
          border-style: dashed;
          border-color: #e4e4e4;
        }

        .line.active {
          border-color: #231f20;
          border-style: solid;
          background-color: #231f20;
        }
      }
    }
  }
// 3- Style CreateRequest Page Bottom
  .createbottom {
// 4- Style CreateRequest Page Bottom Screen One
    .screenone {
      font-family: var(--font-cairo);
      height: auto;
      border-radius: 18px;
      box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;
      padding: 40px 50px;
      margin-bottom: 50px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      -ms-border-radius: 18px;
      -o-border-radius: 18px;
      .title {
        margin-bottom: 45px;

        h6 {
          font-size: 16px;
          font-weight: bold;
          color: #343433;
        }
      }
// 5- Style CreateRequest Page Bottom Screen One Form
      .form {
        form {
          .inputform {
            width: 100%;
            margin-bottom: 30px;

            h6 {
              margin-bottom: 40px;
              font-size: 16px;
              font-weight: bold;
              color: #343433;
            }

            label {
              font-size: 16px;
              font-weight: normal;
              color: #343433;
              margin-bottom: 15px;
            }

            input {
              width: 40%;
              height: 45px;
              margin-right: 5%;
              border: solid 1px #a5a5ac;
              background-color: #fff;

              &::placeholder {
                padding: 8px 5px;
                font-size: 14px;
                font-weight: normal;
                color: #a5a5ac;
              }
            }
            .form-select{
              width: 40%;
              height: 45px;

            }
            textarea {
              width: 85%;
              height: 120px;
              margin-right: 5%;
              border: solid 1px #a5a5ac;
              background-color: #fff;

              &::placeholder {
                padding: 8px 5px;
                font-size: 14px;
                font-weight: normal;
                color: #a5a5ac;
              }
            }

            .addloction {
              font-size: 14px;
              font-weight: normal;
              color: #020202;
              margin-top: 10px;
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              padding-left: 0px;
              padding-right: 0px;

              img {
                width: 14px;
                height: 19px;
                filter: invert(0%) sepia(92%) saturate(30%) hue-rotate(137deg) brightness(103%) contrast(106%);
                margin-right: 5px;
              }

              &:active {
                border-color: white;
              }
            }

            .day {
              height: 45px;
              width: 40%;
              position: relative;

              .react-datepicker-wrapper {
                width: 100% !important;
                height: 100% !important;

                .react-datepicker__input-container {
                  width: 100% !important;
                  height: 100% !important;

                  .data-input {
                    padding: 8px 15px;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                  }

                }

              }

              img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                position: absolute;
                right: 5%;
                top: 50%;
                right: 1%;
                top: 50%;
                transform: translate(-1%, -50%);
              }
            }

            ul {
              display: flex;

              li {
                width: 180px;
                height: 52px;
                background-color: #ebebeb;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:nth-child(2) {
                  margin: 0px 15px;
                }

                label {
                  cursor: pointer;
                  margin-bottom: 0px;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  font-weight: bold;
                  color: #c5c5c5;

                  input {
                    width: 0px;
                    height: 0px;
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                  }
                }
              }

              li.active {
                background-color: #e8d173;

                label {
                  color: #231f20;
                }
              }
            }
          }

          .inputform_items_row {
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            >div {
              width: 100%;
            }

            .inputform_items {
              margin-top: 25px;
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: flex-end;

              .inputform_item {
                width: 40%;
                margin-right: 5%;
                display: flex;
                flex-direction: column;

                label {
                  font-size: 16px;
                  font-weight: normal;
                  color: #343433;
                  margin-bottom: 15px;
                }

                input,
                select {
                  width: 100%;
                  height: 45px;
                  border: solid 1px #a5a5ac;
                  background-color: #fff;
                  font-size: 14px;
                  &::placeholder {
                    padding: 8px 5px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #a5a5ac;
                  }
                }
              }
            }

            .btn-remove {
              height: 45px;
              width: 150px;
              background-color: #747171;
              color: #fff;
            }

            .btn-add {
              height: 45px;
              background-color: #e8d173;
              min-width: 150px;
              max-width: auto;
              font-size: 12px;
              font-weight: bold;
              color: #231f20;
              img{
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }

              &:active {
                border-color: #e8d173;
              }
            }

            .hide {
              display: none !important;
            }

            #button-active {
              pointer-events: auto;
            }

            #button-disabled {
              pointer-events: none;
              opacity: 0.51;
            }
          }

          .inputformday {
            margin-bottom: 50px;
          }

          .inputfiles {
            width: 100%;
            margin-bottom: 30px;

            >div {
              width: 85%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              >span{
                width: 45%;
                height: 75px;
                margin-bottom: 20px;
              }
              .imgagegallary {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
  
                .img {
                    width: 70px;
                    height: 75px;
                    padding: 2.5px;
                    border: 1px solid #887529;
                    text-align: center;
                    margin: 5px;
                    position: relative;
  
                    img.img_gallary {
                        width: 100%;
                        height: 100%;
                        display: block;
                        margin: 0px auto;
                        cursor: pointer;
                    }
                    .btn-deletimage{
                      padding: 0px;
                      position: absolute;
                      width: 20px;
                      height: 20px;
                      border-radius: 50%;
                      top: -20%;
                      right: -10%;
                      -webkit-border-radius: 50%;
                      -moz-border-radius: 50%;
                      -ms-border-radius: 50%;
                      -o-border-radius: 50%;
                      background-color: #fff;
                      &:active{
                        border-color: transparent;
                      }
                      img{
                        width: 20px;
                        height: 20px;
                        filter: invert(46%) sepia(57%) saturate(481%) hue-rotate(11deg) brightness(87%) contrast(90%);
                      }
                    }
                }
            }
            }

            .btn-upload {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin-top: 9px;
              border: 3px #e8d173;
              background-color: #f8f0d2;
              cursor: pointer;
              font-size: 18px;
              font-weight: bold;
              color: #231f20;
              width: 100%;
              height: 100%;
              border-style: dashed;

              &:active {
                border-color: #e8d173;
              }

              input {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
              }

              img {
                width: 40px;
                height: 40px;
                margin: 0 12px 0 0;
                object-fit: contain;
              }
            }

          }

          .end {
            margin-top: 90px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .btn {
              &:active {
                border-color: #e8d173;
              }

              width: 136px;
              height: 56px;
              background-color: #e8d173;
              color: #231f20;
            }
          }

          .is-invabuttond {
            border-color: #dc3545 !important;
          }
        }
      }
    }
  }
}
// 6- Style CreateRequest Page Hide Model
#modalmap {
  font-family: var(--font-cairo);

  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;

  

    .modal-content {
      width: auto !important;

      .modal-body {
        .mab {
          width: 600px;
          height: 600px;
          position: relative;
          background-color: burlywood;
          margin: 15px auto;

          >div {
            >div {
              &:nth-child(2) {
                display: none;
              }

              &:nth-child(3) {
                display: none;
              }
            }
          }
          .mab-overload {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: 6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(44, 44, 44, 0.4);

            button {
                height: 35.3px;
                flex-grow: 0;
                padding: 5px 10px;
                border-radius: 12px;
                background-color: #868558;
                font-size: 14px;
                color: #fff;
                border-color: transparent;

                img {
                    width: 18px;
                    height: 15px;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                }
            }
        }
        .hide{
            display: none !important;
        }
          span {
            display: none;
          }

          table {
            tr {
              td {
                &:first-of-type {
                  display: none !important;
                }

                text-align: center;

                button {
                  background-color: #868558;
                  display: block;
                  margin: 0 auto;
                  height: 28px;
                  font-size: 14px;
                  padding: 0 15px;

                  &:hover {
                    background-color: #868558;
                  }
                }
              }
            }
          }
        }

      }
    }

    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        width: 180px;
        height: 52px;
        font-weight: bold;
        font-size: 14px;

        &:active {
          border-color: white;
        }
      }

      .btn-close_modal {
        background-color: #c5c5c5;
        color: #fff;

      }

      .btn-save {
        background-color: #e8d173;
        color: #231f20;
      }
    }
  }
}

.En{}
.Ar{}
// 7- Style CreateRequest Page To Media Queris 992px.
@media screen and (max-width: 992px) {
  .createrequest {
    .create {
      .top {

        // - Style Head
        .head {
          h4 {
            font-size: 18px;
          }
        }

        // - Style List
        .list {
          height: 98px;
          justify-content: space-between;

          li {
            display: flex;
            align-items: center;
            font-family: var(--font-cairo);

            .icon {
              width: 35px;
              height: 35px;
              margin-right: 5px;
              font-size: 18px;
            }

            .text {
              font-size: 16px;
            }
          }

          .line {
            width: 8%;
          }
        }
      }

    }
    .createbottom {

      .screenone {
        padding: 40px 20px;

        .form {
          form {
            .inputform {
              padding-top: 15px;
              margin-bottom: 10px;
              border-bottom: 1px solid #efefef;
              padding-bottom: 40px;

              input#inputquotations {
                width: 100%;
              }

              input {
                &::placeholder {
                  font-size: 14px;
                }
              }

              textarea {
                width: 100%;
              }

              .day {
                width: 100%;
              }

              ul {
                justify-content: space-between;
              }
            }

            .inputform_items_row {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              >div {
                width: 100%;
              }

              .inputform_items {

                .inputform_item {
                  width: auto;
                  margin-right: 2%;

                  input,
                  select {
                    width: 100px;

                    &::placeholder {
                      font-size: 12px;
                      padding: 0px 2px;
                    }
                  }
                }
              }

              .btn-remove {
                width: 120px;
                font-size: 14px;
              }

              .btn-add {
                width: 120px;
                font-size: 14px;
              }
            }

            .inputformday {
              margin-bottom: 50px;
            }

            .inputfiles {
              >div {
                width: 100%;
                padding: 30px 0px;

              }

              .btn-upload {
                font-size: 16px;

                img {
                  width: 35px;
                  height: 35px;
                }
              }
            }
          }
        }
      }
    }
  }

  #modalmap {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .mab {
            width: 500px;
            height: 500px;
          }

        }
      }
    }
  }
}
// 8- Style CreateRequest Page To Media Queris 576px.
@media screen and (max-width: 576px) {

  .createrequest {
    .create {
    // 1- Style Top Page
    .top {
      margin: 20px 0px;
      // - Style Head
      .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        height: 25px;
        .iconleft{
          width: 28px;
          height: 20px;
          margin-right: 11px;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 0px;
        }
      }

      // - Style List
      .list {
        flex-direction: column;
        height: auto;
        margin: 15px 0px;
        li {
          width: 100%;
          font-size: 14px;

          .icon {
            width: 30px;
            height: 30px;
          }
          .text {font-size: 14px;}
          &:first-child{
            justify-content: flex-start;
          }
          &:nth-of-type(2){
            justify-content: center;
            margin: 15px 0px;
          }
          &:last-child{
            justify-content: flex-end;
          }
        }

        .line {
          display: none;
        }
      }
    }
    }
    .createbottom {
      //- Style Screen One
      .screenone {
        padding: 20px;
        margin-bottom: 30px;
        .title {
          margin-bottom: 10px;
          h6 {font-size: 14px;}
        }
  
        .form {
          form {
            .inputform {
              width: 100%;
              margin-bottom: 10px;
              padding: 10px 0px;
  
              h6 {
                margin-bottom: 20px;
                font-size: 16px;
              }
  
              label {
                font-size: 14px;
                margin-bottom: 5px;
              }
  
              input {
                width: 40%;
                height: 35px;
                margin-right: 5%;
                border: solid 1px #a5a5ac;
                background-color: #fff;
  
                &::placeholder {
                  padding: 5px;
                  font-size: 12px;
                }
              }
  
              textarea {
                width: 100%;
                margin-right: 0px;
                padding: 2px;
  
                &::placeholder {
                  padding: 2px;
                  font-size: 12px;
                }
              }
  
              .addloction {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 5px;
              }
  
              .day {
                height: 35px;
                width: 100%;
  
                .react-datepicker-wrapper {
                  width: 100% !important;
                  height: 100% !important;
  
                  .react-datepicker__input-container {
                    width: 100% !important;
                    height: 100% !important;
  
                    .data-input {
                      padding: 8px 15px;
                      width: 100%;
                      height: 100%;
                      border-radius: 5px;
                      -webkit-border-radius: 5px;
                      -moz-border-radius: 5px;
                      -ms-border-radius: 5px;
                      -o-border-radius: 5px;
                    }
  
                  }
  
                }
  
                img {
                  width: 24px;
                  height: 24px;
                  object-fit: contain;
                  position: absolute;
                  right: 5%;
                  top: 50%;
                  right: 1%;
                  top: 50%;
                  transform: translate(-1%, -50%);
                }
              }
  
              ul {
                flex-direction: column;
                li {
                  width: 100%;
                  height: 40px;
  
                  &:nth-child(2) {
                    margin: 5px 0px;
                  }
  
                  label {
                    font-size: 14px;
                  }
                }
  
              }
            }
  
            .inputform_items_row {
              margin-bottom: 30px;
  
              >div {
                width: 100%;
              }
  
              .inputform_items {
                margin-top: 25px;
                flex-direction: column;
  
                .inputform_item {
                  width: 100%;
                  margin-right: 0px;
                  margin-bottom: 5px;
                  label {
                    font-size: 14px;
                    margin-bottom: 5px;
                  }
  
                  input,
                  select {
                    width: 100%;
                    height: 35px;
  
                    &::placeholder {
                      padding: 2px;
                      font-size: 12px;
                    }
                  }
                }
              }
              .inputform_close{width: 100%;}
              .btn-remove {
                height: 45px;
                width: 100%;
                margin-right: 0px;
                margin-bottom: 5px;
              }
  
              .btn-add {
                height: 45px;
                width: 100%;
              }
  

            }
  
            .inputformday {margin-bottom: 20px;}
  
            .inputfiles {
              width: 100%;
              margin-bottom: 20px;
  
              >div {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 15px 0px;
                >span{
                  width: 100%;
                  margin-bottom: 20px;
                }
              }
  
              .btn-upload {
                margin-top: 9px;
                border: 2px #e8d173;
                font-size: 14px;
                border-style: dashed;
                img {
                  width: 25px;
                  height: 25px;
                  margin: 0 5px 0 0;
                }
              }
            }
  
            .end {
              margin-top: 20px;
              flex-direction: column;
  
              .btn {
                width: 100%;
                height: 35px;
                font-size: 14px;
                font-weight: bold;
                &:first-child{
                  margin-bottom: 15px;
                }
              }
            }
  
          }
        }
      }
    }
  }

  #modalmap {

    .modal-dialog {
      .modal-content {
        .modal-header{
          h5{
            font-size: 16px;
          }
        }
        .modal-body {
          .mab {
            width: 300px;
            height: 400px;
            margin: 0px auto;
          }

        }
      }
    }
  }
}

// 9- Style CreateRequest Page To Media Queris 300px.
@media screen and (max-width: 300px) {
  .createrequest {
    .create {
      .top {
        .list {
          flex-direction: column;
          height: auto;
          margin: 15px 0px;
          li {
            width: 100%;
            &:first-child{
              justify-content: flex-start;
            }
            &:nth-of-type(2){
              justify-content: center;
              margin: 15px 0px;
            }
            &:last-child{
              justify-content: flex-end;
            }
            .text {
              font-size: 12px;
            }
          }

        }
      }
    }
  }
}