/*
1- Style MyProfile Page 
2-  Style MyProfile Page Top
3-  Style MyProfile Page Bottom
4- Style MyProfile Page Bottom UserData
5- Style MyProfile Page Bottom CompanyData
6- Style MyProfile Page Form ModalChangePasswordBuyer
7- Style MyProfile Page Form ModeleditProfileBuyer
8- Style MyProfile Page Form ModalSaveData

// ========== Media Queris ============= //
9- Style MyProfile Page To Media Queris 992px.
10- Style MyProfile Page To Media Queris 576px.
11- Style MyProfile Page To Media Queris 300px.
*/

// 1- Style MyProfile Page 
.myprofile {
  font-family: var(--font-cairo);
// 2- Style MyProfile Page Top
  &__top {
    border-radius: 8px;
    margin: 50px auto 20px auto;
    height: 74px;
    background-color: #f5e9bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    .left,
    .right {
      padding: 0px 25px;
      height: 56px;
    }

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .text {
        font-size: 24px;
        font-weight: bold;
        color: #252428;
      }
    }

    .right {
      display: flex;

      .btn {
        width: 200px;
        height: 100%;
        background-color: #e8d173;
        font-size: 14px;
        font-weight: bold;
        color: #231f20;
        position: relative;
        &:active {
          border-color: #e8d173;
        }
      }

      img {
        width: 19.2px;
        height: 19.2px;
        object-fit: contain;
      }
    }
  }
// 3- Style MyProfile Page Bottom
  &__bottom {
    height: auto;
    border-radius: 18px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1px;
    margin-bottom: 85px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    // 4- Style MyProfile Page Bottom UserData    
    .userdata {
      margin: 40px 70px;
      padding: 20px 0px 70px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e7e7e7;

      .left {
        height: 300px;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          li {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            color: #343433;

            .title {
              font-weight: normal;
            }

            .data {
              font-weight: bold;
            }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;

        img {
          width: 190px;
          height: 190px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        .btn {
          width: 192px;
          height: 57px;
          border-radius: 5px;
          background-color: #e9d173;
          font-size: 14px;
          font-weight: bold;
          color: #231f20;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          &:active {
            border-color: #e8d173;
          }

          img {
            width: 19px;
            height: 19px;
            object-fit: contain;
            margin-bottom: 0px;
          }

          input {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
      }

    }
// 5- Style MyProfile Page Bottom CompanyData
    .companydata {
      margin: 40px 70px;
      padding: 70px 0px 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        min-height: 320px;
        max-height: auto;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 320px;
          max-height: auto;

          li {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            color: #343433;

            .title {
              font-weight: normal;
              margin-bottom: 9px;
            }

            .data {
              font-weight: bold;
            }

            .btn-upload {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 250px;
              height: 54px;
              border: solid 2px #e8d173;
              background-color: #f8f0d2;
              cursor: pointer;
              font-size: 16px;
              font-weight: bold;
              color: #231f20;

              &:active {
                border-color: #e8d173;
              }

              input {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
              }

              img {
                width: 40px;
                height: 40px;
                object-fit: contain;
              }
            }
            .imgagegallary{
              display: flex;
              flex-wrap: wrap;
              .img{    
                padding: 2.5px;
                position: relative;
                width: 130px;
                height: 50px;
                background-color: #f8f0d2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                div{
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;
                  cursor: pointer;
                  img.img_gallary{       
                    width: 24px;
                    height: 27px;
                    display: block;
                    cursor: pointer;
                  }
                  span.text{
                    font-size: 18px;
                    font-weight: bold;
                    color: #231f20;
                  }

                }
                .btn-deletimage{
                  padding: 0px;
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  top: -20%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                  background-color: #fff;
                  &:active{
                    border-color: transparent;
                  }
                  img{
                    width: 20px;
                    height: 20px;
                    filter: invert(46%) sepia(57%) saturate(481%) hue-rotate(11deg) brightness(87%) contrast(90%);
                  }
                }
              }
            }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 320px;
        max-height: auto;

        img {
          width: 190px;
          height: 190px;
          margin-bottom: 25px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        .btn {
          width: 192px;
          height: 57px;
          border-radius: 5px;
          background-color: #e9d173;
          font-size: 14px;
          font-weight: bold;
          color: #231f20;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &:active {
            border-color: #e8d173;
          }

          img {
            width: 19px;
            height: 19px;
            object-fit: contain;
            margin-bottom: 0px;
          }

          input {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
    }
    .errorfiled{
      text-align: center;
    }
  }
}




// 6- Style MyProfile Page Form ModalChangePasswordBuyer
#modalchangepasswordbuyer {
  font-family: var(--font-cairo);

  .modal-header {
    justify-content: center;
    padding: 25px 0px;
    border-bottom: 0px;

    h5 {
      font-size: 18px;
      font-weight: bold;
      color: #020524;
    }
  }

  .modal-body {
    >div {
      margin-bottom: 25px;

      .filedpassword {
        position: relative;

        .toggoleimg {
          position: absolute;
          z-index: 2;
          top: 50%;
          transform: translate(0%, -50%);
          -webkit-transform: translate(0%, -50%);
          -moz-transform: translate(0%, -50%);
          -ms-transform: translate(0%, -50%);
          -o-transform: translate(0%, -50%);
          padding: 0px;
          margin: 0px;
          display: block;
          cursor: pointer;

          img {
            width: 24px;
            height: 21px;
            object-fit: contain;
            filter: invert(70%) sepia(9%) saturate(142%) hue-rotate(201deg) brightness(92%) contrast(96%) !important;
            -webkit-filter: invert(70%) sepia(9%) saturate(142%) hue-rotate(201deg) brightness(92%) contrast(96%) !important;
          }
        }
      }

      label.form-label {
        font-size: 16px;
        font-weight: normal;
        color: #020524;
        margin-bottom: 8px;
        font-family: var(--font-cairo);
      }

      input.form-control {
        height: 48px;
      }
    }

    .end {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 50px;
        border-radius: 5px;
        width: 182px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }

      .btn-send {
        background-color: #e9d173;
        color: #231f20;
      }

      .btn-cancel {
        background-color: rgba(189, 189, 189, 0.3);
        color: #bdbdbd;
      }
    }
  }
}
// 7- Style MyProfile Page Form ModeleditProfileBuyer
#modeleditprofilebuyer {
  font-family: var(--font-cairo);

  .modal-header {
    justify-content: center;
    padding: 25px 0px;
    border-bottom: 0px;

    h5 {
      font-size: 18px;
      font-weight: bold;
      color: #020524;
    }
  }

  .modal-body {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
        height: 60px;
        border-radius: 6px;
      }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: #e8d173;
      }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #887529;
      }
    .input_model {
      margin-bottom: 25px;

      label.form-label {
        font-size: 16px;
        font-weight: normal;
        color: #020524;
        margin-bottom: 8px;
        font-family: var(--font-cairo);
      }

      input.form-control,
      .form-select {
        height: 48px;
      }

      .btn-upload {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        margin-top: 9px;
        border: solid 2px #e8d173;
        background-color: #f8f0d2;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #231f20;

        &:active {
          border-color: #e8d173;
        }

        input {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }

        img {
          width: 40px;
          height: 40px;
          margin: 0 12px 0 0;
          object-fit: contain;
        }
      }

      .btn-upload .is-invalid {
        border-color: red;
      }
    }


    .end {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      button {
        height: 50px;
        border-radius: 5px;
        width: 182px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }

      .btn-send {
        background-color: #e9d173;
        color: #231f20;
      }

      .btn-cancel {
        background-color: rgba(189, 189, 189, 0.3);
        color: #bdbdbd;
      }
    }
  }

}
.modelgallaryimage{
  .modal-content{
    height: 800px;
  }
  .modal-body{
    .image{
    width: 100%;
    height: 100%;
    img{
    width: 100%;
    height: 100%;
    }
    }
  }
}
// 8- Style MyProfile Page Form ModalSaveData
.modalsavedata {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modaldata {
    width: 382px;
    height: auto;
    border-radius: 27px;
    background-color: #fff;

    .modaldataheader {
      margin: 15px 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .btn-close {
        width: 24px;
        height: 24px;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
      }
    }

    .modaldatabody {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;

      img {
        width: 106px;
        height: 106px;
        object-fit: contain;
        margin-bottom: 15px;
      }

      .text {
        font-family: var(--font-cairo);
        font-size: 18px;
        font-weight: bold;
        color: #231f20;
      }
    }

    .modaldataend {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        width: 95%;
        margin-bottom: 15px;
        height: 50px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }

      .btn-save {
        background-color: #e8d173;
        color: #231f20;
      }

      .btn-cancel {
        color: #a5a5ac;
        background-color: #eaeaee;
      }
    }
  }
}
.hidemodal {
  display: none !important;
}
.showmodal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.En{
  .myprofile {
    &__top {
      flex-direction: row;
      .left {.text {text-align: left;}}
      .right {
        flex-direction: row;
        .btn {&:first-of-type {margin-right: 15px;}}
  
        img {
          margin-right: 15px;
        }
      }
    }
    &__bottom {
      .userdata {
        flex-direction: row;
        .left {ul {li {
          text-align: left;
          select.form-select{
            direction: ltr;
            background-position: right 0.75rem center;
          }
        }}}
        .right {
          .btn {img {margin-right: 20px;}}
        }
      }
      .companydata {
        flex-direction: row;
        .left {
          ul {
            li {
              text-align: left;
              align-items: flex-start;
              .btn-upload {
                img {
                  margin: 0px 12px 0px 0px;
                }
              }
              .imgagegallary{
                flex-direction: row;
                .img{    
                  margin-right: 20px;
                  .btn-deletimage{
                    right: -10%;
                  }
                }
              }
            }
          }
        }
        
      .right {
        .btn {
          flex-direction: row;
          img {
            margin-right: 20px;
          }
        }
      }
  
      }
    }
  }
  #modalchangepasswordbuyer {
    .modal-body {
      >div {
        .filedpassword {
          .toggoleimg {right: 1%;}
        }
      }
      .end {
        flex-direction: row;
  
        .btn-send {
          margin-right: 15px;
        }
  
      }
    }
  }
  #modeleditprofilebuyer {
    .modal-body {
      direction: ltr;
      .end {
        .btn-send {
          margin-right: 15px;
        }
      }
    }
  
  }
}
.Ar{
  .myprofile {
    &__top {
      flex-direction: row-reverse;
      .left {.text {text-align: right;}}
      .right {
        flex-direction: row-reverse;
        .btn {&:first-of-type {margin-left: 15px;}}
  
        img {
          margin-left: 15px;
        }
      }
    }
    &__bottom {
      .userdata {
        flex-direction: row-reverse;
        .left {ul {
          li {
            text-align: right;
            select.form-select{
              direction: rtl;
              background-position: left 0.75rem center;
            }
          }}}
        .right {
          .btn {img {margin-left: 20px;}}
        }
      }
      .companydata {
        flex-direction: row-reverse;
        .left {
          ul {
            li {
              text-align: right;
              align-items: flex-end;
              .btn-upload {
                img {
                  margin: 0 0px 0 12px;
                }
              }
              .imgagegallary{
                flex-direction: row-reverse;
                .img{    
                  margin-left: 20px;
                  .btn-deletimage{
                    left: -10%;
                  }
                }
              }
            }
          }
        }
        .right {
          .btn {
            flex-direction: row-reverse;
            img {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  #modalchangepasswordbuyer {
    .modal-body {
      >div {
        text-align: right;
        .filedpassword {
          .toggoleimg {left: 1%;}
          input{
            text-align: right;
            &::placeholder{
              text-align: right;
            }
          }
        }
      }
      .end {
        flex-direction: row-reverse;
  
        .btn-send {
          margin-left: 15px;
        }
  
      }
    }
  }
  #modeleditprofilebuyer {
    .modal-body {
      direction: rtl;
      .end {
        .btn-cancel {
          margin-right: 15px;
        }
      }
    }
  
  }
}
// 9- Style MyProfile Page To Media Queris 992px.
@media screen and (max-width: 992px) {
  .En,
  .Ar{
  .myprofile {
    font-family: var(--font-cairo);

    &__top {
      height: auto;
      flex-direction: column;
      padding: 20px 0px;

      .left,
      .right {
        width: 100%;
      }

      .left {
        .text {
          font-size: 20px;
        }
      }

      .right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .btn {
          padding: 0px;
          height: 50px;
          width: 200px;

          &:first-of-type {
            margin-right: 15px;
          }
        }
      }
    }
    
    &__bottom {
      .userdata,
      .companydata{
        flex-direction: column;
        .left{
          margin-bottom: 50px;
        }
      }
    }
  }
}

.Ar{
  .myprofile {
    
    &__bottom {
      .userdata,
      .companydata{
        .left{
          align-self: flex-end;
        }
        .right{
          align-self: flex-start;
        }
      }
    }
  }

}
.En{
  .myprofile {
    
    &__bottom {
      .userdata,
      .companydata{
        .left{
          align-self: flex-start;
        }
        .right{
          align-self: flex-end;
        }
      }
    }
  }

}
}
// 10- Style MyProfile Page To Media Queris 576px.
@media screen and (max-width: 576px) {
  .En,
  .Ar{
  .myprofile {
    &__top {

      .left,
      .right {
        height: auto;
      }

      .left {
        .text {
          font-size: 18px;
        }
      }

      .right {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;

        .btn {
          padding: 0px;
          height: 50px;
          width: 200px;

          &:first-of-type {
            margin-right: 0px;
            margin-bottom: 15px;
          }
        }
      }
    }

    &__bottom {
      height: auto;

      .userdata,
      .companydata {
        margin: 20px 0px 0px 0px;
        flex-direction: column;
        padding: 20px;

        .left {
          margin-bottom: 25px;
          width: 100%;

          ul {
            li {
              font-size: 16px;

              .btn-upload {
                font-size: 14px;
              }
            }
          }
        }

        .right {
          width: 100%;
          align-items: flex-end;
        }
      }

      .companydata {
        margin: 0px 0px 70px 0px;
      }
    }
  }

  .modalsavedata {
    .modaldata {
      width: 300px;

      .modaldatabody {
        .text {
          font-size: 16px;
        }
      }
    }
  }

  #modeleditprofilebuyer {
    .modal-header {
      padding: 15px 0px;

      h5 {
        font-size: 16px;
      }
    }

    .modal-body {
      height: 500px;

      .row {
        .col-12 {
          padding: 0px;
        }
      }

      .input_model {
        margin-bottom: 10px;

        label.form-label {
          font-size: 12px;
          margin-bottom: 5px;
        }

        input.form-control,
        .form-select {
          height: 35px;
          font-size: 12px;
          padding: 5px;
        }

        .btn-upload {
          width: 100%;
          height: 35px;
          font-size: 12px;
          margin-top: 5px;

          img {
            width: 20px;
            height: 20px;
            margin: 0 5px 0 0;
          }
        }

        .btn-upload .is-invalid {
          border-color: red;
        }
      }


      .end {
        flex-direction: column;

        button {
          height: 45px;
          width: 100%;
          font-size: 12px;
        }

        .btn-send {
          margin-right: 0px;
          margin-bottom: 10px;
        }

      }
    }

  }
  .modelgallaryimage{
    .modal-content{
      height: 550px;
      width: 75%;
      margin: 0px auto;
    }
  }
}
}
// 11- Style MyProfile Page To Media Queris 300px.
@media screen and (max-width: 300px) {
  .En,
  .Ar{
  .myprofile {
    &__top {
      padding: 10px 0px;
      margin: 20px auto;

      .left {
        padding: 0px 10px;

        .text {
          font-size: 16px;
        }
      }

      .right {
        padding: 0px 10px;
        margin-top: 20px;

        .btn {
          padding: 0px;
          height: 40px;
          width: 180px;
          font-size: 12px;
        }
      }
    }

    &__bottom {
      height: auto;
      padding: 1px 10px;

      .userdata {

        .left {
          height: 200px;

          ul {
            height: 200px;
          }
        }

        .right {
          align-items: center;
          height: 230px;
          margin: 20px 0px;

          >img {
            width: 150px;
            height: 150px;
            margin-bottom: 5px;
          }

          .btn {
            width: 180px;
            height: 45px;
            font-size: 11px;
          }
        }
      }

      .userdata,
      .companydata {
        padding: 10px;

        .left {
          ul {
            li {
              font-size: 14px;

              .btn-upload {
                font-size: 12px;
                width: 200px;

                img {
                  width: 35px;
                  height: 35px;
                  margin: 0 8px 0 0;
                }
              }
            }
          }
        }
      }

      .companydata {

        .left {
          margin: 50px 0px;
          min-height: auto;

          ul {
            height: 250px;
          }
        }

        .right {
          align-items: center;
          min-height: auto;

          >img {
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
          }

          .btn {
            width: 180px;
            height: 45px;
            font-size: 11px;
          }
        }
      }

    }
  }

  .modalsavedata {
    .modaldata {
      width: 95%;

      .modaldatabody {
        img {
          width: 90px;
          height: 90px;
        }

        .text {
          font-size: 12px;
        }
      }
    }
  }

  #modalchangepasswordbuyer {

    .modal-header {
      padding: 15px 0px;

      h5 {
        font-size: 16px;
      }
    }

    .modal-body {
      >div {
        margin-bottom: 15px;

        .filedpassword {

          .toggoleimg {
            right: 2%;

            img {
              width: 20px;
              height: 19px;
              object-fit: contain;
            }
          }
        }

        label.form-label {
          font-size: 12px;
          margin-bottom: 5px;
        }

        input.form-control {
          height: 35px;
          font-size: 12px;
          padding: 5px;
        }
      }

      .end {
        flex-direction: column;

        button {
          height: 45px;
          width: 100%;
          font-size: 12px;
        }

        .btn-send {
          margin-right: 0px;
          margin-bottom: 10px;
        }

      }
    }
  }

  #modeleditprofilebuyer {
    .modal-header {
      padding: 15px 0px;

      h5 {
        font-size: 16px;
      }
    }

    .modal-body {
      height: 500px;

      .row {
        .col-12 {
          padding: 0px;
        }
      }

      .input_model {
        margin-bottom: 10px;

        label.form-label {
          font-size: 12px;
          margin-bottom: 5px;
        }

        input.form-control,
        .form-select {
          height: 35px;
          font-size: 12px;
          padding: 5px;
        }

        .btn-upload {
          width: 100%;
          height: 35px;
          font-size: 12px;
          margin-top: 5px;

          img {
            width: 20px;
            height: 20px;
            margin: 0 5px 0 0;
          }
        }

        .btn-upload .is-invalid {
          border-color: red;
        }
      }


      .end {
        flex-direction: column;

        button {
          height: 45px;
          width: 100%;
          font-size: 12px;
        }

        .btn-send {
          margin-right: 0px;
          margin-bottom: 10px;
        }

      }
    }

  }
  .modelgallaryimage{
    .modal-content{
      height: 400px;
      width: 95%;
      margin: 0px auto;
  }
  }
}
}