/*
1- Style RequestDetails Page  
2- Style RequestDetails Page Bottom
3- Style RequestDetails Page Screen
4- Style RequestDetails Page Screen Top
5- Style RequestDetails Page Screen Data
// ========== Media Queris ============= //
6- Style RequestDetails Page To Media Queris 992px.
7- Style RequestDetails Page To Media Queris 576px.
8- Style RequestDetails Page To Media Queris 456px.
*/


// 1- Style RequestDetails Page  
.requestdetails {
font-family: var(--font-cairo);
// 2- Style RequestDetails Page Bottom
  .requestdetailsbottom {
    width: calc(100% - 280px);
// 3- Style RequestDetails Page Screen
    .screenone {
      font-family: var(--font-cairo);
      height: auto;
      border-radius: 18px;
      box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--white-color);
      padding: 40px 50px 55px 50px;
      margin-bottom: 50px;
 
    }
// 4- Style RequestDetails Page Screen Top
    &__top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 56px;
      align-items: center;
      margin-bottom: 40px;
      h5{
        font-size: 20px;
        font-weight: bold;
        color: #252428;
      }
      .btn__sendoffer{
        height: 56px;
        width: 200px;
        border-radius: 5px;
        background-color: var(--primary-one-color);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #231f20;
      }
    }
// 5- Style RequestDetails Page Screen Data
    &__data{
      h6{
        font-size: 18px;
        font-weight: normal;
        color: #020524;
        margin-bottom: 17px;
      }
      ul.list{
        width: 100%;
        li{
          width: 100%;
          display: flex;
          flex-direction: row;
          font-size: 16px;
          font-weight: normal;
          color: #020524;
          .left,.right{
            width: 50%;
            text-align: left;
          }
          &:last-child{
            font-weight: bold;
            margin-top: 10px;
          }
        }
      }
      .about{
        font-size: 16px;
        h6{
          margin-top: 32px;
          margin-bottom: 16px;
          font-weight: normal;
          color: #020524;
        }
        p{
          width: 90%;
          font-weight: bold;
        }
        .btn-files{
          width: 167px;
          height: 50px;
          margin-top: 20px;
          border-radius: 4px;
          background-color: #f8f0d2;
          font-weight: normal;
          color: #343433;
          img{
            margin-right: 9px;
            width: 24px;
            height: 27px;
            object-fit: contain;
          }
        }
      }
      .address{
        margin-top: 30px;
        h5{
          font-size: 18px;
          font-weight: normal;
          color: #020524;
        }
        div{
          margin-top: 16px;
          font-size: 16px;
          color: #020524;
          h6{
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 25px;
          }
          p{
            width: 90%;
            font-weight: bold;
            margin-bottom: 32px;
          }
        }
        ul.conditions{
          display: flex;
          flex-direction: column;
          width: 100%;
          span{
            font-size: 18px;
            font-weight: normal;
            color: #020524;
            margin-bottom: 10px;
          }
          li{
            margin: 4px 0px;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: #020524;

          }
        }
      }
    }
  }
}
// 6- Style RequestDetails Page To Media Queris 992px.
@media screen and (max-width: 992px) {
  .requestdetails {
    // 2- Style Bottom Page
    .requestdetailsbottom {
      width: 100%;
      .screenone {padding: 40px 20px;}
    }
  }
}
// 7- Style RequestDetails Page To Media Queris 576px.
@media screen and (max-width: 576px) {
  .requestdetails {
    // 2- Style Bottom Page
    .requestdetailsbottom {
      .screenone {
        padding: 40px 20px;
      }
      &__top{
        margin-bottom: 20px;
        h5{font-size: 18px;}
        .btn__sendoffer{width: 180px;}
      }
      &__data{
        h6{
          font-size: 16px;
        }
        .about{
          p{width: 100%;}
        }
        .address{
          div{
            p{width: 100%;}
          }
        }
      }
    }
  }
}
// 8- Style RequestDetails Page To Media Queris 456px.
@media screen and (max-width: 456px) {
  .requestdetails {
    // 2- Style Bottom Page
    .requestdetailsbottom {
      .screenone { padding: 40px 20px;}
      &__top{
        flex-direction: column;
        height: auto;
        align-items: flex-end;
        margin-bottom: 20px;
        h5{
          font-size: 18px;
          width: 100%;
          text-align: left;
          margin-bottom: 15px;
        }
        .btn__sendoffer{
          height: 50px;
          width: 150px;
        }
      }
      &__data{
        h6{font-size: 16px;}
        ul.list{
          li{
            flex-direction: row;
            font-size: 12px;
            &:last-child{
              margin-top: 10px;
            }
          }
        }
        .about{
          font-size: 14px;
          h6{margin-top: 25px;}
          p{width: 100%;}
          .btn-files{width: 150px;}
        }
        .address{
          margin-top: 20px;
          h5{
            font-size: 16px;
          }
          div{
            font-size: 14px;
            h6{
            font-size: 16px;
            }
            p{
              width: 100%;
              margin-bottom: 25px;
            }
          }
          ul.conditions{
            span{font-size: 16px;}
            li{font-size: 14px;}
          }
        }
      }
    }
  }
}