//- Style Screen One
        .requestquestionsdata {
            font-family: var(--font-cairo);
            height: 637px;
            border-radius: 18px;
            box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;
            padding: 40px;
            margin-bottom: 50px;

            .title {
                h6 {
                    margin-bottom: 25px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #343433;
                }
            }

            .questionsdatalistcontener {
                padding: 0px 10px;
                min-height: auto;
                max-height: 500px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 10px;
                    height: 60px;
                    border-radius: 6px;
                }


                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1 !important;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background-color: #e8d173 !important;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background-color: #887529 !important;
                }

            }

            .questionsdatalist {
                width: 100%;
                margin: 0px auto;

                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    li {
                        width: 100%;
                        min-height: 110px;
                        max-height: auto;
                        background-color: #f8f0d2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 17px;
                        margin-bottom: 10px;

                        .top {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            .data {
                                font-size: 16px;
                                font-weight: bold;
                                color: #231f20;

                                img {
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 10px;
                                    border-radius: 50%;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    -ms-border-radius: 50%;
                                    -o-border-radius: 50%;
                                }
                            }

                            .time {
                                font-size: 14px;
                                font-weight: normal;
                                color: #a5a5ac;

                                img {
                                    width: 24px;
                                    height: 24px;
                                    object-fit: contain;
                                    margin-right: 5px;
                                    border-radius: 50%;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    -ms-border-radius: 50%;
                                    -o-border-radius: 50%;
                                }
                            }
                        }

                        .end {
                            font-size: 14px;
                            font-weight: normal;
                            color: #242424;
                        }
                    }

                    ul {
                        li {
                            width: 95%;
                            margin-bottom: 10px;
                        }
                    }

                    .inputmessage {
                        min-height: 62px;
                        max-height: auto;
                        padding: 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .message {
                            position: relative;
                            width: 95%;
                            height: 35px;
                            margin: 0px 2.5%;

                            input {
                                width: 100%;
                                height: 100%;
                                font-size: 14px;
                                font-weight: normal;
                                color: #a5a5ac;
                                background-color: #fdf6e0;
                                border-color: #f8f0d2;

                                &:focus {
                                    border-color: #f8f0d2;
                                    box-shadow: none;
                                }
                            }

                            .btn {
                                position: absolute;
                                top: 2.5px;
                                right: 5px;
                                padding: 0px;
                                width: 25px;
                                height: 20px;
                                object-fit: contain;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }

                    }
                }
            }
        }



// 1- 2- Style Component To Media Queris Samll.
@media screen and (max-width: 992px) {
            .requestquestionsdata {
                padding: 20px;
                margin-bottom: 30px;
                .title { h6 {margin-bottom: 15px;}}
                .questionsdatalist {ul {li {padding: 13px;}}}
    
            }
}

// 1- 2- Style Chart Component To Media Queris Samll.
@media screen and (max-width: 456px) {
            .requestquestionsdata {
                .title { h6 {font-size: 14px;} }
                .questionsdatalistcontener {
                    padding: 0px 5px;
                    &::-webkit-scrollbar {
                        width: 8px;
                        height: 40px;
                    }
                }
                .questionsdatalist {
                    width: 100%;
                    margin: 0px auto;
    
                    ul {
                        li {
                            padding: 10px;
                            .top {
                                .data {
                                    font-size: 14px;
                                    img {
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                                .time {
                                    font-size: 12px;
                                    img {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                            .end {font-size: 12px;}
                        }
    
                        .inputmessage {.message { input {font-size: 12px; } }}
                    }
                }
            }
}


// 1- 2- Style Chart Component To Media Queris Samll.
@media screen and (max-width: 300px) {
            .requestquestionsdata {
                padding: 10px;
                .questionsdatalistcontener {max-height: 550px;}
                .questionsdatalist {
                    ul {
    
                        li {
                            min-height: auto;
                            padding: 5px;
                            .top {
                                flex-direction: column;
                                align-items: flex-end;
                                .data {width: 100%;}
                                .time {margin-top: 10px;}
                            }
    
                            .end {margin-top: 15px; width: 100%;}
                        }
                    }
                }
            }
      
}