/*
1- Style Navbar component  
2- Style Navbar component Brand
3- Style Navbar component Nav Item
4- Style Navbar component Nav D-Flex
5- Style Navbar component Navbar Toggler
6- Style Navbar component Navbar Collapse
7- Style Navbar component English Language .
8- Style Navbar component Arabic Language .
// ========== Media Queris ============= //
9- Style Navbar component To Media Queris 992px .
10- Style Navbar component To Media Queris 300px .
*/

// 1- Style Navbar component 
.navbarbuyer {
    height: 135px;
    background-color: #231f20;
    font-family: var(--font-cairo);
    padding: 0px 20px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;

    //2-StyleNavbarcomponentBrand
    .navbar-brand {
        width: 180px;
        height: 50px;
        padding: 0px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    // 3-  Style Navbar component Nav Item
    .nav-item {
        height: 40px;
        display: flex;
        align-items: center;

        .btn-request {
            width: 120px;
            height: 40px;
            margin: 0px 30px;
            border-radius: 22px;
            background-color: #e8d173;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            color: #231f20;
            font-family: var(--font-cairo);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: #231f20;
            }
        }

        .btnmyrequest {
            color: #fff !important;

            &:hover {
                color: #fff !important;
            }
        }

        .suppliers {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            font-family: var(--font-cairo);
        }
    }

    // 4-  Style Navbar component Nav D-Flex
    .d-flex {
        .iconnotification {
            position: relative;
            margin: 0px 45px;

            a {
                width: 20px;
                height: 23px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .dropdown-toggle {
                &::after {
                    display: none;
                }
            }

            .dropdown-menu[data-bs-popper] {
                top: 150%;
                width: 399px;
                height: 348px;
                border-radius: 2px;
                box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.1);
                background-color: #fff;
                border-color: transparent;
                position: absolute;

                &::after {
                    content: "";
                    position: absolute;
                    top: -5%;
                    z-index: 10;
                    width: 0;
                    height: 0;
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-bottom: 20px solid #fff;
                }

                >div {
                    overflow-y: auto;
                    width: 100%;
                    height: 100%;
                    padding: 10px 5px;

                    li {
                        width: 95%;
                        margin: 5px auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 10px;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;

                        .text {
                            font-size: 16px;
                            font-weight: normal;
                            color: #020524;
                        }

                        .time {
                            margin-top: 5px;
                            font-size: 14px;
                            color: #a5a5ac;

                            img {
                                width: 16px;
                                height: 16px;

                            }
                        }

                        &:hover {
                            background-color: #e9d1732e;
                        }
                    }
                }
            }
        }

        .iconprofile {
            position: relative;

            .dropdown-toggle {
                font-size: 14px;
                font-weight: bold;
                color: #fff;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                &::after {
                    content: "";
                    position: absolute;
                    position: absolute;
                    bottom: 40%;
                    border-top: 0.5em solid;
                    border-right: 0.5em solid transparent;
                    border-left: 0.5em solid transparent;
                }
            }

            .dropdown-menu[data-bs-popper] {
                top: 150%;
                width: 200px;
                border-radius: 2px;
                box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.1);
                background-color: #fff;
                border-color: transparent;
                padding: 10px 5px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -6%;
                    z-index: 10;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 15px solid #fff;
                }

                li {
                    width: 95%;
                    margin: 5px auto;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 1px;
                    border-bottom: solid 1px #979797;

                    a,
                    button{
                        width: 100%;
                        margin: 15px 10px;
                        color: #020524;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        font-weight: 700;

                        &:hover {
                            color: #020524 !important;
                        }

                        img {
                            width: 22px;
                            height: 22px;
                        }

                    }

                    .btn-signout {
                        width: 100%;
                        font-family: var(--font-cairo);
                        font-size: 14px;
                        font-weight: bold;
                        color: #a90305;

                        &:active {
                            border-color: transparent;
                        }
                    }

                    &:hover {
                        background-color: #e9d1732e;
                    }

                    &:last-of-type {
                        border-bottom: none;
                    }

                }
            }
        }

        .changelanguage {
            display: flex;
            justify-content: center;
            align-items: center;

            .d-flex {
                ul {
                    display: flex;
                    margin-bottom: 0px;

                    li {
                        display: flex;
                        padding: 0px 10px;
                        align-items: center;
                        cursor: pointer;
                        border-right: 1px solid #cbc4c4;

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        .text {
                            color: #fff;
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0px 5px;
                        }
                    }

                    .not_active {
                        opacity: .5;
                        pointer-events: none;
                        margin-right: 0px;
                        border-right: none;
                    }
                }
            }

        }
    }

    a {
        &:hover {
            color: #fff !important;
        }
    }

    // 5-  Style Navbar component Navbar Toggler
    .navbar-toggler {
        color: #e8d173;
        border-color: #e8d173;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(31deg) brightness(107%) contrast(102%);

        &:focus {
            box-shadow: none !important;
        }
    }

    // 6- Style Navbar component Navbar Collapse
    .collapse {
        transition: all .6s;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        -ms-transition: all .6s;
        -o-transition: all .6s;
    }

}

// 7- Style Navbar component English Language .

.navbarbuyer {
    direction: ltr;

    .collapse.navbar-collapse {
        margin-right: 30px;
    }

    .d-flex {
        .iconnotification {
            .dropdown-menu[data-bs-popper] {
                left: -349px;

                &::after {
                    right: 6%;
                }

                >div {
                    li {
                        .text {
                            direction: ltr;
                            text-align: left;
                        }

                        .time {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .iconprofile {

            .dropdown-toggle {
                img {
                    margin-right: 8px;
                }

                &::after {
                    margin-left: 0.5em;
                }
            }

            .dropdown-menu[data-bs-popper] {
                left: -40%;

                &::after {
                    right: 6%;
                }

            }
        }

    }

}

.En {
    .navbarbuyer {
        .d-flex {
            .iconprofile {
                .dropdown-menu[data-bs-popper] {
                    li {
                        display: flex;
                        flex-direction: row;
                        a,button {
                            img {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

        }

    }
}

// 8- Style Navbar component Arabic Language .
.Ar {
    .navbarbuyer {
        .d-flex {
            .iconprofile {
                .dropdown-menu[data-bs-popper] {
                    li {
                        display: flex;
                        flex-direction: row-reverse;
                        a,button{
                            flex-direction: row-reverse;

                            img {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

        }

    }
}


.modelgallanguage{
    .modal-dialog-centered {
        justify-content: center;
    }
    .modal-content{
      height: auto;
      width: 50%;
      .modal-body{
          h6{
              font-size: 20px;
              font-weight: 700;
              text-align: center;
              margin: 25px auto;
            }
            .btn{
                width: 100%;
                margin: 25px auto;
                background-color: #eaeaee;
                color: #a5a5ac;
                font-size: 18px;
                height: 60px;
                &:active{
                    background-color: #e8d173;
                    border-color: transparent;
                    color: #fff;
                }
            }
      }
    }
  }

// 9- Style Navbar component To Media Queris 992px.
@media screen and (max-width: 992px) {

    .En,
    .Ar {
        .navbarbuyer {
            height: auto;
            padding: 10px;

            .navbar-brand {
                width: 180px;
                height: 50px;
                padding: 0px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .navbar-collapse.show {
                margin: 40px 0px;
            }


            .nav-item {
                height: auto;

                .btn-request {
                    margin: 0px 0px 30px 0px;
                }

                .suppliers {
                    display: block;
                    text-align: center;
                    width: 120px;
                    height: 40px;
                    line-height: 40px;
                }
            }

            .d-flex {
                width: 100%;
                margin: 40px 0px 0px 0px;
                padding: 0px 20px;

                .iconnotification {
                    margin-right: 40px;

                    .dropdown-menu[data-bs-popper] {
                        top: 150%;
                        left: 0px;
                        width: 250px;

                        &::after {
                            display: none;
                        }

                        >div {
                            li {
                                .text {
                                    font-size: 14px;
                                }

                                .time {
                                    font-size: 12px;
                                    color: #a5a5ac;

                                    img {
                                        width: 14px;
                                        height: 14px;
                                        margin-right: 5px;
                                    }
                                }

                                &:hover {
                                    background-color: #e9d1732e;
                                }
                            }
                        }
                    }
                }

                .iconprofile {
                    .dropdown-menu[data-bs-popper] {
                        left: 0%;

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .modelgallanguage{
        .modal-content{
          width: 80%;
        }
      }
}

// 10- Style Navbar component To Media Queris 300px.
@media screen and (max-width: 300px) {

    .En,
    .Ar {
        .navbarbuyer {
            padding: 10px 0px;

            .navbar-brand {
                width: 140px;
                height: 50px;
            }

            .d-flex {
                .iconnotification {

                    .dropdown-menu[data-bs-popper] {
                        width: 250px;
                        left: -10px;

                        &::after {
                            content: "";
                            position: absolute;
                            top: -5%;
                            right: 6%;
                            z-index: 10;
                            width: 0;
                            height: 0;
                            border-left: 13px solid transparent;
                            border-right: 13px solid transparent;
                            border-bottom: 20px solid #fff;
                        }

                        >div {

                            li {
                                width: 100%;
                                margin: 10px auto;
                                padding: 0px;

                                .text {
                                    font-size: 12px;
                                    font-weight: normal;
                                    color: #020524;
                                }

                                .time {
                                    margin-top: 10px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }

                .iconprofile {

                    .dropdown-menu[data-bs-popper] {
                        width: 170px;

                        li {
                            width: 100%;
                            font-size: 12px;
                        }

                    }

                }
            }
        }
    }

    
.modelgallanguage{
    .modal-content{
      width: 90%;
    }
  }
}