/*
1- Style HomeSeller Page  
2- Style HomeSeller Page Headr
3- Style HomeSeller Page Filter
4- Style HomeSeller Page Row
5- Style HomeSeller Page Card

// ========== Media Queris ============= //
6- Style HomeSeller Page To Media Queris 992px.
7- Style HomeSeller Page To Media Queris 576px.
*/
// 1- Style HomeSeller Page  
.homerequests {
    margin: 40px 0px;
    font-family: var(--font-cairo);
// 2- Style HomeSeller Page Headr
    &__headr {
        margin: 40px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 65px;
        max-height: auto;

        .left {
            height: 65px;

            h5 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            span {
                font-size: 16px;
                font-weight: normal;
                color: #a5a5ac;
            }
        }

        .right {
            height: 65px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .btn {  
                height: 45px;
                background-color: #e8d173;
                color: #231f20;
                font-size: 14px;
                font-weight: bold;
                color: #231f20;

                &:active {
                    border-color: #e8d173;
                }

                img {
                    width: 24px;
                    height: 24px;
                    margin: 0 10px 0 0;
                    object-fit: contain;
                }
            }

            .btn-filter {  
                width: 136px;
                margin-right: 20px;
            }

            .btn-request {
                width: 200px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
// 3- Style HomeSeller Page Filter
    &__filter {
        opacity: 1;
        visibility: visible;
        height: 186px;
        margin: 20px 0px 20px 0px;
        background-color: #f8f4e8;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            h6 {
                font-size: 24px;
                font-weight: bold;
                color: #252428;
            }

            span {
                display: inline-block;
                font-size: 16px;
                color: #343433;
                margin: 15px 0px;
            }
        }

        .bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;

            select {
                width: 190px;
                height: 32px;
                font-size: 14px;
                color: #a5a5ac;
                border-radius: 4px;

                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }

            .showresults {
                width: 146px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #e8d173;
                font-size: 14px;
                font-weight: bold;
                color: #231f20;
            }
        }
    }

    &__hide {
        height: 0px;
        opacity: 0;
        padding: 0px !important;
        visibility: hidden;
        margin: 0px !important;
    }
// 4- Style HomeSeller Page Row
    &__row {
        margin: 50px 0px;

        .row {
            >div {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
// 5- Style HomeSeller Page Card
    &__card {
        margin: 25px 5px;
        height: 200px;
        padding: 16px;
        border-radius: 13px;
        box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .text {
                font-size: 18px;
                font-weight: bold;
                color: #343433;
            }

            .btn-edit {
                padding: 0px !important;
                width: 24px;
                height: 24px;

                &:active {
                    border-color: white;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .time {
                img {
                    width: 16px;
                    height: 16px;
                }

                .text {
                    font-size: 14px;
                    font-weight: normal;
                    color: #a5a5ac;
                }

            }

            .button-data {
                .btn {
                    height: 36px;
                    border-radius: 28px;
                    background-color: #e9d173;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    color: #231f20;
                }
            }
        }
    }
}

.En{
    .homerequests {
        &__headr {direction: ltr;}
        &__row {
            .row {direction: ltr;}
        }
        &__card {
            .bottom {
            .time {
                img {
                    margin-right: 10px;
                }
            }
                .button-data {
                    .btn {width: 100px;}
                }
            }
        }
    }
}
.Ar{
    .homerequests {
        &__headr {
            direction: rtl;
        }
        &__row {
            .row {
                direction: rtl;
            }
        }
        &__card {
            .bottom {
                .time {
                    img {
                        margin-left: 10px;
                    }
                }
                .button-data {
                    .btn {
                        width: auto;
                    }
                }
            }
        }
    }
}
// 6- Style HomeSeller Page To Media Queris 992px.
@media screen and (max-width: 992px) {
.homerequests {
    margin: 20px 0px;
    
    &__headr {
        margin: 10px 0px;
        flex-direction: column;
        min-height: auto;
        align-items: flex-end;
        .left {
            height: 50px;
            width: 100%;
            margin-bottom: 25px;
            h5 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            span {font-size: 14px;}
        }

        .right {
            height: 50px;
            .btn {  
                height: 40px;
                img {
                    width: 20px;
                    height: 20px;
                    margin: 0 5px 0 0;
                }
            }

            .btn-filter {  
                width: 136px;
                margin-right: 10px;
            }

            .btn-request {
                width: 200px;
            }
        }
    }
    &__row {
        margin: 20px 0px;
    }
    
    &__card {
        margin: 5px;
        height: 150px;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        .top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .text {font-size: 16px;}

            .btn-edit {
                width: 20px;
                height: 20px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .bottom {
            .time {
                img {margin-right: 5px;}
                .text {font-size: 12px;}
            }

            .button-data {
                .btn {
                    width: 100px;
                    height: 30px;
                    font-size: 12px;
                    color: #231f20;
}
            }
        }
    }
}

}
// 7- Style HomeSeller Page To Media Queris 576px.
@media screen and (max-width: 576px) {
    .homerequests {
        margin: 20px 0px;
        
        &__headr {
    
            .right {
                height: auto;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                .btn {  
                    height: 40px;
                    font-size: 12px;
                    img {
                        width: 20px;
                        height: 20px;
                        margin: 0 2px 0 0;
                    }
                }
                
    
                .btn-filter {  
                    width: 120px;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
    
                .btn-request {
                    width: 150px;
                }
            }
        }
    }
}
