.home{
    width: 100%;
    min-height: 100vh;  
    max-height: auto;
    background-color: #f6f6f6;
}


// 1- 2- Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 992px) {
    .home{
        height: auto;
        padding-bottom: 1px;
    }
    
}